html,body {
    height: 100%;
    margin: 0;
}

#background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: 
        linear-gradient(to top,
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0)),
        url('Urgot.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: fixed;
    z-index: -1;
}
#box{
    /* background-color: wheat; */
    width: 1000px;
    position: relative;
    left: 260px;
    top: 20px;
}

#top{
    /* background-color: rgb(255, 0, 85); */
    height: 100px;
    width: 1000px;
    display: flex;
}
    #top_left{
        /* background-color: rgba(143, 143, 143, 0.215); */
        height: 100px;
        width: 200px;
    }
        #logo{
            width: 200px;
            height: 100px;
            position: absolute;
        }
    #top_right{
        width: 800px;
        height: 100px;
        background-color: rgb(0, 0, 0);
    }
        #banner{
            width: 600px;
            height: 100px;
            position: relative;
            left: 100px;
        }

#nav{
    width: 1000px;
    height: 50px;
    /* background-color: rgb(0, 255, 170); */
    margin-top: 10px;
}
    #nav_content{
        background-color: rgb(255, 255, 255);
        width: 1000px;
        height: 50px;
        font-size: 30px;
        line-height: 50px;   /* 세로 중앙 정렬 */
        text-align: center;
    }

#mid{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 2000px;
}
    #mid_left{
        background-color: rgb(215, 215, 215);
        width: 200px;
        height: 2000px;
    }
        #login{
            /* background-color: rgb(255, 0, 170); */
            width: 200px;
            height: 100px;
        }
        #search{
            /* background-color: blue; */
            width: 200px;
            height: 100px;
        }
        #community{
            /* background-color: rgb(0, 255, 255); */
            width: 200px;
            height: 300px;
            text-align: center;
        }
            #commu_title{
                background-color: rgb(113, 113, 113);
                width: 200px;
            }
